/* Estilos generales de la página */
ion-content {
  --background: #f1f9f1;
  /* Fondo ligeramente verde */
  --ion-text-color: #333;
  /* Color del texto */
}

/* Contenedor principal */
.main-container {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

/* Estilos de la tarjeta */
.card {
  width: 300px;
  padding: 16px;
  background-color: #2ecc71;
  /* Fondo verde */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  /* Color de texto blanco */
}

/* Estilos del nombre del usuario */
.card .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Estilos del número de cuenta */
.card .account-number {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Estilos del balance */
.card .balance {
  font-size: 24px;
  font-weight: bold;
}
